@charset "UTF-8";

/* 본고딕 */
@font-face{
	font-family:'Noto Sans';
	font-weight: 100;
	src:url("../font/NotoSans-Thin.eot");
	src:url("../font/NotoSans-Thin.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Thin.ttf") format('truetype'), */
		url("../font/NotoSans-Thin.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 200;
	src:url("../font/NotoSans-Light.eot");
	src:url("../font/NotoSans-Light.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Light.ttf") format('truetype'), */
		url("../font/NotoSans-Light.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 300;
	src:url("../font/NotoSans-DemiLight.eot");
	src:url("../font/NotoSans-DemiLight.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-DemiLight.ttf") format('truetype'), */
		url("../font/NotoSans-DemiLight.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 400;
	src:url("../font/NotoSans-Regular.eot");
	src:url("../font/NotoSans-Regular.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Regular.ttf") format('truetype'), */
		url("../font/NotoSans-Regular.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 500;
	src:url("../font/NotoSans-Medium.eot");
	src:url("../font/NotoSans-Medium.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Medium.ttf") format('truetype'), */
		url("../font/NotoSans-Medium.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 600;
	src:url("../font/NotoSans-Bold.eot");
	src:url("../font/NotoSans-Bold.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Bold.ttf") format('truetype'), */
		url("../font/NotoSans-Bold.woff") format('woff');
}
@font-face{
	font-family:'Noto Sans';
	font-weight: 700;
	src:url("../font/NotoSans-Black.eot");
	src:url("../font/NotoSans-Black.eot?#iefix") format('embedded-opentype'),
		/* url("../font/NotoSans-Black.ttf") format('truetype'), */
		url("../font/NotoSans-Black.woff") format('woff');
}

@font-face {
	font-family: "Hiragino Sans GB";
	src: url("../font/Hiragino-Sans-GB-W6.eot");
	src: url("../font/Hiragino-Sans-GB-W6.eot?#iefix") format("embedded-opentype"),		
		url("../font/Hiragino-Sans-GB-W6.woff") format("woff"), 
		url("../font/Hiragino-Sans-GB-W6.ttf") format("truetype"),
}